.banner{background: rgb(240,243,239);height:480px;}
.banner .ban-con{overflow: hidden;}
.ban-nav{background: rgb(254,254,254);width:190px;height:468px;float: left;padding:6px 0;position:           relative;}
.ban-nav div.list{height: 26px;line-height: 26px;padding-left: 18px;font-size: 14px;}
.ban-nav div a{color:rgb(98,98,98);}
.ban-nav div a:hover{color:rgb(227,51,51)}
.goods-box{position: absolute;top:0;left:190px;width:965px;height:450px;background: white;
    padding: 15px 15px 15px 20px;    box-shadow: 2px 0 5px rgba(0,0,0,.3);display: none;z-index: 5;}
.goods-box .con-box{width:794px;float: left;height:450px;}
.goods-box ul{width:794px;font-size: 12px;}
.goods-box .title a{margin-right:10px;padding: 5px 10px;height: 24px;background-color: #333;line-height: 24px;color: #fff;border:none;}
.goods-box .title a:hover{color: #fff;background-color:rgb(92,82,81)}
.goods-box ul{padding:3px 0;}
.ban-nav span{font-weight: 900;}
.goods-box ul a.first{text-align: right;font-weight: 700;white-space: nowrap;border:none;display: inline-block;width:60px;}
.goods-box ul a{margin: 3px 0;padding: 0 10px;height: 16px;border-left: 1px solid #e0e0e0;line-height: 16px;white-space: nowrap;}
.goods-box-s ul a{padding: 0 9px;}
.goods-box a.guai{margin-left:83px;}
.goods-box-s a.guai{margin-left:81px;}
.goods-box a.special{padding: 0 0 0 10px;}
.goods-box .img{width:168px;float:right;}
.goods-box .img a img{width:100%;height:100%;}
.goods-box .img-small{width:168px;overflow: hidden;}
.goods-box .img-small a{width:83px;height:35px;float: left;}
.img-small a:nth-of-type(2n){margin:0 0 1px 0;}
.img-small a:nth-of-type(2n+1){margin:0 1px 1px 0;}
.img-big a{width:168px;height: 134px;display: block}
.img-big a:nth-of-type(1){margin:10px 0 1px;}
/* banner图开始 */
.rotation-chart{background: #fff;width:590px;height:470px;float: left;margin:10px 0 0 10px;position:         relative;}
.rotation-chart span{cursor: pointer;position: absolute;z-index: 1;top: 50%;margin-top: -20px;width: 24px;height: 40px;background-color: #aeb5ad;background-color: rgba(0, 0, 0, 0.2);color: #fff;color: rgba(255, 255, 255, 0.4);line-height: 40px;text-align: center;}
.rotation-chart span:last-of-type{right:0;}
.r-c-outBox{height:470px;position: absolute;width:590px;}
.r-c-outBox img{width:100%;height:100%;position:absolute;top:0;left:0;}
/* .r-c-outBox .active{opacity:1;} */
.r-c-dotBox{position: absolute;left:45px;bottom:10px;width:300px;height:25px;line-height: 25px;}
.r-c-dotBox ul li {float: left;width:6px;height:6px;margin: 0 6px;cursor: pointer;
    border:2px solid rgba(255,255,255,.5);border-radius: 50%;margin-top:4px;}
.r-c-dotBtn .checked{margin-top:0;width:10px;height:10px;background: rgb(255, 255, 255);
    background-clip:content-box;    border:4px solid rgba(221, 207, 207, 0.3);}
.ban-ad{width:190px;height:470px;float: left;margin:10px 0 0 10px;}
.ban-ad .b-a-box2,.ban-ad .b-a-box3{margin-top:10px;}
.ban-aside{width:190px;height:470px;float: left;margin:10px 0 0 10px;position:relative;background: #fff;}
.ban-user{height: 150px;}
.ban-user .imgBox a{display: block;width: 55px;height: 55px;box-shadow: 3px 6px 25px #c3c3c3;                 border-radius: 50%;    overflow: hidden;border: 5px solid #e3e1df;}
.ban-user img{display: block;width: 55px;height: 55px;}
.ban-user .imgBox{position: absolute;left: 50%;top: -10px;margin-left: -34px;width: 65px;height: 65px;}
.ban-user .huan{overflow: hidden;line-height: 20px;width: 100%;white-space: nowrap;text-overflow: ellipsis;color: #888;font-size: 12px;text-align: center;position: absolute;top:68px;}
.ban-user .user-l-r{position: absolute;top:87px;width:190px;text-align: center;}
.user-l-r .user_login,.user-l-r .user_reg{padding: 0 2px;}
.user-l-r  a{color:#888;font-size: 12px;}
.user-l-r  a:hover{color:#c81623;}
.new-vip{position: absolute;top:113px;width:190px;text-align: center;}
.new-vip a{display: inline-block;margin: 0 5px;width: 70px;height: 25px;line-height: 25px;font-size:        12px;text-align: center;border-radius: 13px;transition: background .3s ease,color .3s ease;              box-shadow: 6px 8px 20px rgba(45,45,45,.15);}
.new-vip a:first-of-type{color:rgb(228,63,59);background: #fff;}
.new-vip a:last-of-type{color:rgb(229,184,86);background: rgb(54,54,52);}
.new-vip a:hover{background-color: #e01222;color: #fff;}
.b-a-title h5{display: inline-block;font-size: 13px;margin-left: 15px;color: #1e1e1e;font-weight: bold;}
.b-a-title a{margin-left:66px;font-size: 12px;color: #888;}
.b-a-title a:hover{color:rgb(102,102,102)}
.ban-news .list a{color:#666;font-size: 12px;}
.ban-news .list a:hover{color: #c81623;}
.ban-news .list-num1{display: inline-block;position: relative;font-size: 12px;height: 16px;width: 35px;line-height: 16px;text-align: center;vertical-align: 0;-moz-border-radius: 2px;border-radius: 2px;color: #fff;background-color: #e47f7f;margin-right: 6px;}
.ban-news .list-num2{background-color: #e0b95a;}
.ban-news .list li{line-height: 21px;cursor: pointer;text-decoration: none;max-width: 160px;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;color: #999;}
.ban-news .list ul{position: relative;padding: 8px 0 10px;margin: 0 15px;border-bottom:1px solid rgb(235,234,234)}
.ban-icon{padding: 0 10px;}
.ban-icon a{display: inline-block;width:40px;height:45px;font-size: 12px;color:rgb(209,197,174);text-align: center;}
.ban-icon a:hover{color:rgb(227,51,51)}
.ban-icon div{display: flex;justify-content: space-around;}
.ban-icon .box1{padding:20px 0 0}
.ban-icon .box2,.ban-icon .box3{padding:10px 0 0}
.ban-icon i{font-size: 24px;}